{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
	<div class="container">
		<h2 class="text-success mt-5">Mon Panier</h2><br><br>
		
    </div>

{% endblock %}
