<form method="post" action="{{ path('app_subcategory_delete', {'id': subcategory.id}) }}" onsubmit="return confirm('Voulez-vous vraiment suppriler cette sous catégorie ? ');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subcategory.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
